@{
    ViewData["Title"] = "Home Page";
}
@model List<ShortTrainingInfo>

@foreach (var item in Model)
{
    <div>
        @item.StartAt.ToString("HH:mm") 
        @if (!String.IsNullOrEmpty(item.TrainerName)){
            @item.StartAt.ToString();
        }
    </div>
}
