@{
    ViewData["Title"] = "New Training";
}
@model NewTraining

<h1>@Model.StartAt.ToString("U")</h1>

@using (Html.BeginForm("New","Training", Model, FormMethod.Post))
{
    <table class="table_new">
        <tr>
            <td class="new_cell_caption">Trainer</td>
            <td class="new_cell_edit">@Html.DropDownListFor(x=>x.Id_Trainer, Model.trainers)</td>
        </tr>
        <tr>
            <td class="new_cell_caption">Group</td>
            <td class="new_cell_edit">@Html.DropDownListFor(x=>x.Id_BaseGroup, Model.groups)</td>
        </tr>
        <tr>
            <td class="new_cell_caption">
                <input class="btnClient" type="submit" value="Add" />
            </td>
            <td class="new_cell_edit">
                <a class="btnClient" asp-controller="Home" asp-action="Index" asp-route-date="@Model.StartAt">Cancel</a>
            </td></tr>
    </table>
}